
.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}

.jumbotron {
  background-image: url('../img/jumbo-bg.jpg');
  background-size: cover;
}

form.registration-form fieldset {
    display: none;
}

form .form-bottom .input-error {
    border-color: #d03e3e;
    color: #d03e3e;
}